 /* *{
            margin: 0;
            padding: 0;
        } */
        .hello{
            width: 10%;
            height: 10vh;
            background-color: aqua;
            border: 1px solid black;
            /* position: fixed; */
           
        }
        #Raghav{
          color: blueviolet;
          border: 1px solid red;
          height: 200px;
          max-width: 200px;
          background-color: blanchedalmond;
          /* position: fixed; */
        }
        body{
          background-image:url("./beautiful-scenery-wnxju2647uqrcccv.jpg") ;
          background-size: cover;
          height: 200vh;
        }
        #Yadav{
          color: white;
          position: sticky;
          top: 0;
        }